<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog">Blog</a>
    <h1>About Astro</h1>

    <h2>... and my new Astro Site</h2>

    <p>
      Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web, ¡y es la primera que he construido yo mismo!.
    </p>
    <p>
      <small>
        I am working in an introductory tutorial for Astro. This is the second
        page of my website, and it's the first one I've built myself!
      </small>
    </p>

    <p>
      Este sitio se irá actualizando a medida que vaya completando más partes
      del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!
    </p>
    <p>
      <small>
        This site will be updated as I complete more parts of the tutorial, so
        be sure to check back to see how my journey is going!
      </small>
    </p>
  </body>
</html>
